@import "tailwindcss";

:root{
  --bg:#050505;
  --card:#0f0f0f;
  --red:#c1121f;
  --gold:#d4af37;
  --text:#f5f5f5;
  --gray:#9ca3af;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:auto;
}

body{
  background:
  radial-gradient(circle at top left, rgba(193,18,31,0.15), transparent 30%),
  radial-gradient(circle at bottom right, rgba(193,18,31,0.1), transparent 30%),
  var(--bg);

  color:var(--text);

  font-family:Arial, Helvetica, sans-serif;

  overflow-x:hidden;
}

/* NAVBAR */

.navbar{
  position:fixed;
  top:0;
  width:100%;
  z-index:999;

  backdrop-filter:blur(4px);

  background:rgba(0,0,0,0.75);

  border-bottom:1px solid rgba(193,18,31,0.4);
}

.nav-container{
  max-width:1400px;
  margin:auto;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:22px 40px;
}

.logo{
  font-size:2.5rem;
  font-weight:bold;
}

.logo-white{
  color:white;
}

.logo-red{
  color:var(--red);
}

.nav-links{
  display:flex;
  gap:40px;
}

.nav-links a{
  color:white;
  text-decoration:none;

  font-size:1.1rem;

  transition:0.3s;
}

.nav-links a:hover{
  color:var(--red);
}

/* HERO */

.hero{
  text-align:center;

  padding-top:160px;
  padding-bottom:100px;
}

.hero h1{
  font-size:5rem;
  font-weight:800;
}

.hero span{
  color:var(--red);
}

.hero p{
  color:var(--gray);

  margin-top:20px;

  max-width:700px;

  margin-inline:auto;

  line-height:1.8;
}

/* CARDÁPIO */

.menu-grid{
  max-width:1400px;

  margin:auto;

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));

  gap:40px;

  padding:20px 40px 100px;
}

.food-card{
  background:linear-gradient(
    145deg,
    #101010,
    #1a1a1a
  );

  border-radius:30px;

  overflow:hidden;

  border:1px solid rgba(255,255,255,0.05);

  transition:0.2s;
}

.food-card:hover{
  transform:translateY(-10px);

  border-color:rgba(193,18,31,0.5);

  box-shadow:
  0 0 16px rgba(193,18,31,0.25);
}

.food-card img{
  width:100%;
  height:320px;

  object-fit:cover;
}

.food-content{
  padding:30px;
}

.food-content h2{
  font-size:2.3rem;
  color:white;
}

.food-content p{
  color:var(--gray);

  margin-top:18px;

  line-height:1.8;

  font-size:1.05rem;
}

.line{
  width:70px;
  height:4px;

  background:var(--red);

  border-radius:999px;

  margin-top:25px;
}

.price{
  color:var(--gold);

  font-size:2.5rem;

  font-weight:bold;

  margin-top:25px;
}

/* RESPONSIVO */

/* RESPONSIVO */

@media(max-width:900px){

  .hero h1{
    font-size:3rem;
  }

  .nav-container{
    flex-direction:column;
    gap:20px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
  }

  .menu-grid{
    grid-template-columns:1fr;
    padding:20px;
  }

}

/* HERO NOVO */

.hero-button{
  transition:0.3s;
}

.hero-button:hover{
  transform:scale(1.05);
}

/* FUNDO */

.pattern-bg{
  background:
  radial-gradient(circle at top left, rgba(193,18,31,0.15), transparent 30%),
  radial-gradient(circle at bottom right, rgba(212,175,55,0.12), transparent 30%),
  #050505;
}

/* FOOD CARD */

.food-card{
  background:linear-gradient(
    145deg,
    #101010,
    #181818
  );

  border-radius:35px;

  overflow:hidden;

  border:2px solid rgba(255,255,255,0.04);

  transition:0.2s;

  position:relative;
}

.food-card::before{
  content:"";

  position:absolute;

  inset:0;

  background:linear-gradient(
    180deg,
    transparent,
    rgba(193,18,31,0.08)
  );

  pointer-events:none;
}

.food-card:hover{
  transform:
  translateY(-10px)
  scale(1.02);

  border-color:rgba(193,18,31,0.6);

  box-shadow:
  0 0 20px rgba(193,18,31,0.25);
}

.food-card img{
  transition:0.2s;
}

.food-card:hover img{
  transform:scale(1.05);
}

.price{
  color:#d4af37;

  font-size:2.4rem;

  font-weight:900;

  margin-top:25px;
}

.food-content h2{
  font-size:2.2rem;

  font-weight:800;
}

.line{
  width:80px;
  height:5px;

  background:#c1121f;

  border-radius:999px;

  margin-top:22px;
}

/* BOTÃO */

.delivery-button{
  width:100%;

  margin-top:18px;

  padding:15px;

  border:none;

  border-radius:16px;

  background:
  linear-gradient(
    90deg,
    #a80000,
    #ff2a2a
  );

  color:white;

  font-size:16px;

  font-weight:800;

  cursor:pointer;

  transition:0.3s;
}

.delivery-button:hover{
  transform:scale(1.03);

  box-shadow:
  0 0 25px rgba(255,0,0,0.3);
}

/* CARRINHO */

.floating-cart{
  position:static;

  right:320px;
  bottom:20px;

  width:320px;

  padding:28px;

  border-radius:28px;

  background:
  linear-gradient(
    180deg,
    #111,
    #181818
  );

  border:1px solid rgba(255,0,0,0.25);

  backdrop-filter:blur(6px);

  box-shadow:
  0 0 16px rgba(255,0,0,0.15);

  z-index:999;
}

.floating-cart h3{
  font-size:34px;

  font-weight:900;

  color:white;

  margin-bottom:10px;
}

.floating-cart p{
  color:#999;

  margin-bottom:20px;
}

.floating-cart span{
  display:block;

  font-size:42px;

  font-weight:900;

  color:#e7bf53;

  margin-bottom:25px;
}

/* FINALIZAR */

.finish-button{
  width:100%;

  padding:16px;

  border:none;

  border-radius:18px;

  background:
  linear-gradient(
    90deg,
    #b30000,
    #ff2a2a
  );

  color:white;

  font-size:17px;

  font-weight:800;

  cursor:pointer;

  transition:0.3s;
}

.finish-button:hover{
  transform:scale(1.03);

  box-shadow:
  0 0 30px rgba(255,0,0,0.35);
}
/*INPUTS DELIVERY */

.delivery-input{
  width:100%;

  margin-top:15px;

  padding:15px;

  border:none;

  border-radius:16px;

  background:#0d0d0d;

  color:white;

  font-size:15px;

  border:1px solid rgba(255,255,255,0.08);

  transition:0.3s;
}

.delivery-input:focus{
  outline:none;

  border-color:#c1121f;

  box-shadow:
  0 0 20px rgba(193,18,31,0.2);
}

/* LINHAS */

.cart-line{
  display:flex;

  justify-content:space-between;

  margin-bottom:12px;

  color:#d1d1d1;
}

.cart-line strong{
  color:white;
}

.cart-total{
  font-size:38px;

  font-weight:900;

  color:#e7bf53;

  margin:25px 0;
}
/* AUTH */

.auth-container{
  display:flex;

  justify-content:center;

  padding:40px;
}

.auth-card{
  width:100%;
  max-width:500px;

  background:
  linear-gradient(
    180deg,
    #111,
    #191919
  );

  padding:35px;

  border-radius:30px;

  border:1px solid rgba(255,0,0,0.2);

  box-shadow:
  0 0 16px rgba(255,0,0,0.12);
}